.App {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .App-header {
    background-color: #07aa9e;
    min-height: 80px;
    padding: 20px;
    color: white;
    width: 70%;
    margin: auto;
  }
  
  .App-title {
    font-size: 50px;
  }
  
  .App-intro {
    font-size: large;
  }

  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 6vmin;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }